{% extends 'base.html' %}

{% block content %} 
<section class="bg-dark text-light text-center shadow">
    <div class="container p-5 bg-dark">
        <div class="row">
            <div class="d-md-flex bg-dark align-items-center justify-content-evenly">
                <h1 class="col text-center"><br>Caro</h1>
            </div>
        </div>
    </div>
</section>
<section class="bg-light text-center">
    <div class="container p-5">
        <div class="row">
            <div class="d-flex align-items-center justify-content-center">
                <img src="../../static/images/Cover.jpg" class="img-fluid p-5" alt="Car">
            </div>
        </div>
    </div>
</section>
<div id="Services" class=" bg-dark text-light p-10 p-lg-0 lg-10 text-center text-sm-start shadow lg">
    <div class="container p-5">
        <div class="row g-5 p-5">
            <div class="col-sm-12 col-md-6 col-lg-3">
                <img src="../../static/images/mechanic1.jpg" alt="mechanic" class="img-fluid shadow-lg p-0">
                <figcaption>Maintenance</figcaption>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-3">
                <img src="../../static/images/mechanic3.jpg" alt="mechanic" class="img-fluid shadow-lg p-0">
                <figcaption>Inspection</figcaption>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-3">
                <img src="../../static/images/scheudle.jpg" alt="mechanic" class="img-fluid shadow-lg p-0">
                <figcaption>Schedule</figcaption>
            </div>
        </div>
    </div>
</div>

{% endblock %}